/* 
    Document   : main
    Created on : 10.11.2013, 22:27:20
    Author     : Koti
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background: #efc;
    margin-left: 4em;
    margin-right: 20%
}


